extends /patterns/layout/layout.pug

block fullScreenHead
	a-scene
		a-curvedimage(src="img/ui.png", radius="4", theta-length="360", height="12", scale=".3 .3 .3")
		a-sky(src="img/background.png")
			a-root
				a-entity(geometry="primitive: sphere", material="shader: flat; src: url(img/background.png)", scale="1 1 1")
