extends /patterns/layout/layout.pug

block fullScreenHead
	a-scene

		include /patterns/01-atoms/01-assets/thegrandtour.pug

		a-entity(cubemap="folder: ./images/nasa_cubemap/")
			a-animation(attribute="rotation", fill="forwards", easing="linear", dur="3000", from="0 0 0", to="0 360 0", repeat="indefinite")

		//a-sky(src="./images/nasa/000-back_equi.png")


		// Earth
		include /patterns/01-atoms/02-planets/earth.pug

		// Jupiter
		a-entity(position="12 6 -15")
			include /patterns/01-atoms/02-planets/jupiter.pug

		// Mars
		a-entity(position="-1 2 -10" )
			include /patterns/01-atoms/02-planets/mars.pug

		// striped-planet
		a-entity(position="-7 2.3 -10", rotation="0 30 0")
			include /patterns/01-atoms/02-planets/striped-planet.pug

		// striped-planet-orange
		a-entity(position="0 7 -10", rotation="30 0 0")
			include /patterns/01-atoms/02-planets/striped-planet-orange.pug

		// striped-planet-purple
		a-entity(position="0 -2 -10", rotation="0 0 0")
			include /patterns/01-atoms/02-planets/striped-planet-purple.pug

		//include /patterns/01-atoms/05-asteroids/asteroid-1.pug

		//a-entity(position="0 1 -5", animation__rotate="property: rotation; dur: 20000; easing: linear; loop: true; to: 0 360 0")

		a-entity(position="0 1 -4")
			include /patterns/01-atoms/03-spaceships/spaceship-1.pug

			a-image(src="./images/nasa/spaceship-2.png", width="2.182", height="1.376", position="2.8 -1.4 0", rotation="0 0 0")
				a-plane(color="#EF5237", height="0.22", width="6", opacity="0.8", position="4.08 0 0")
			a-image(src="./images/nasa/spaceship-3.png", width="2.010", height="1.634", position="2.8 1.2 0", rotation="0 0 0")
			a-image(src="./images/nasa/spaceship-4.png", width="1.654", height="0.885", position="5 -2.2 0", rotation="0 0 0")
			a-image(src="./images/nasa/spaceship-5.png", width="1.8", height="0.771", position="5 2 0", rotation="0 0 0")

			//a-animation(attribute="rotation", fill="forwards", easing="linear", dur="10000", from="0 0 0", to="0 360 0", repeat="indefinite")
			//a-animation(attribute="position",  dur="10000", from="0 1 -4", to="-10 1 4", repeat="indefinite")
			//a-animation(attribute="position", delay="20000", dur="20000",from="25 2 -4", to="-25 1 -4", repeat="indefinite")

		a-entity(camera, look-controls, position="0 0 0", fov="100")
			a-entity(position="-0.97 -0.95 -2", scale="0.32 0.32 0.8", rotation="-20 0 0")
				a-entity(text="text: A ONCE IN A LIFETIME GETAWAY", material="color: #f58a37", position="1.5 0 0", scale="0.27 0.27 0.45")
				a-entity(text="text: THE GRAND TOUR", material="color: #302f31", position="0 -0.7 0", scale="1.05 1 1")
				a-plane(color="#d8232a", height="0.02", width="6.2", position="3.1 -0.95 0")
				a-entity(text="text: JUPITER / SATURN / URANUS / NEPTUNE", material="color: #41a0a8", position="0 -1.2 0", scale="0.225 0.14 0.2")
				a-entity(text="text: EXPERIENCE THE CHARME OF GRAVITY ASSISTS", material="color: #612448", position="0 -1.6 0", scale="0.2 0.55 0.2")
				a-image(src="./images/nasa/every-175-years.png", width="0.936", height="0.313", position="4 -1.37 0", scale="1.6 1.6 1")
				a-image(src="./images/nasa/now-boarding.png", width="0.936", height="0.313", position="5.5 -1.37 0", scale="1.5 1.5 1")
