a-entity(geometry="primitive: circle; radius: 8.3;" material="src: #jupiter; opacity:0.9;", position="1.5 -2 -1")
a-entity(rotation="-30 -60 0", scale="0.6 1.6 1", position="1.3 -0.3 -2")
	a-ring(color="#e87e2f", radius-inner="7", radius-outer="7.7", opacity="0.8")
	a-ring(color="#612448", radius-inner="7.7", radius-outer="8.5")
	a-ring(color="#ad2936", radius-inner="8.5", radius-outer="9.3")
