/** paintbox **/
$paintboxBlack = #302f31
$paintboxSand = #f3e7d2
$paintboxSandLight = lighten($paintboxSand, 60%)
$paintboxSandDark = #c9b99d
$paintboxYellow = #fab14b
$paintboxOrangeLight = #f0a747
$paintboxOrange = #c3b393
$paintboxOrangeDark = #f58a37
$paintboxRedOrange = #ef5237
$paintboxRedLight = #ed3242
$paintboxRed = #d12435
$paintboxRedDark = #653b3d
$paintboxPink = #b03557
$paintboxPinkDark = #943650
$paintboxPurpleLight = #873562
$paintboxPurple = #ef5237
$paintboxPurpleDark = #743558
$paintboxBlueLight = #499894
$paintboxBlue = #41a0a8
$paintboxBlueDark = #007b77
$paintboxGreenLight = #178350
$paintboxGreen = #82b240
$paintboxGreenDark = #226d4c
$paintboxGreenYellow = #a4cb61

/** Colors **/
// Color palette inspired by THE GRAND TOUR NASA Poster http://www.jpl.nasa.gov/visions-of-the-future/about.php

$colorPrimary = $paintboxBlue
$colorSecondary = $paintboxPurple
$colorPrimaryShade = $paintboxBlueDark
$colorSecondaryShade = $paintboxPink
$colorHighlight = $paintboxRed

$colorDanger = $paintboxRedDark
$colorWarning = $paintboxOrange
$colorSuccess = $paintboxGreenLight

$colorBlack = $paintboxBlack
$colorWhite = $paintboxSand
