a-assets
	// Planets
	img(src="./images/nasa/jupiter.png", id="jupiter")
	img(src="./images/nasa/mars-sphere.png", id="mars")
	img(src="./images/nasa/earth.png", id="earth")
	img(src="./images/nasa/striped-planet.png", id="striped-planet")
	img(src="./images/nasa/striped-planet-orange.png", id="striped-planet-orange")
	img(src="./images/nasa/striped-planet-purple.png", id="striped-planet-purple")
	// Spaceships
	img(src="./images/nasa/spaceship-1.png", id="spaceship-1")
	img(src="./images/nasa/spaceship-2.png", id="spaceship-2")
	img(src="./images/nasa/spaceship-3.png", id="spaceship-3")
	img(src="./images/nasa/spaceship-4.png", id="spaceship-4")
	img(src="./images/nasa/spaceship-5.png", id="spaceship-5")
